<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<!--inicio Card Casamento / Bodas-->
<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../fotos/Aniversario.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Aniversário</h5>
          <p class="card-text"> Realizamos sua Festa de Aniversario com todo requinte necessário para que surpreenda o seus convidados. 
            Oferecemos cardápios personalizados como Brunch, Almoços, Jantares, Coquetel Temático, Feijoada e outros. 
            Levamos toda estrutura necessária para realização do evento (copos, talheres, taças, mesas, cadeiras, toalhas e outros). Contamos com uma equipe treinada e especializada em festas nos diversos locais como Salão de festas em condomínios, Chácaras e local de sua escolha.
            <br><br>
            Buffet Kaspper's cuida de cada detalhe com toda atenção e carinho. 
          
          </p>
        </div>
      </div>
    </div>
  </div>
<!--IMAGEM Bodas-->
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../fotos/Debutante15anos.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Debutantes</h5>
          <p class="card-text">Ah, enfim 15 anos… o início da vida adulta, um momento de transição que deve ser celebrado! A comemoração dos 15 é um momento único para a debutante e também para a família e amigos. 
            <br><br>
            Nós, do Buffet Kaspper's, entendemos a importância desta data tão especial, e queremos criar mais que momentos emocionantes.
            
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>