<!--inicio navbar-->
<nav class="navbar col-12 position-fixed navbar-expand-lg bg-body-tertiary" style="z-index: 999;">
    <div class="#">
      <a class="navbar-brand" href="#">
        <img src="./assets/fotos/LogoKaspper'sBuffet2.jpg" alt="Logo" width="auto" height="80px" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </a>
    </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav container-fluid col-11 m-auto">
            <li class="nav-item container">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item container">
              <a class="nav-link active" aria-current="page" href="quemsomos">Quem Somos</a>
            </li>
            <li class="nav-item container">
              <a class="nav-link active" aria-current="page" href="servicos">Serviços</a>
            </li>
           
            <li class="nav-item dropdown container">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Eventos
              </a>
              <ul class="dropdown-menu container">
                <li><a class="dropdown-item" href="casamentosebodas">Casamentos e Bodas</a></li>
                <li><a class="dropdown-item" href="aniversarios">Aniversários e Debutantes "15 anos"</a></li>
                <li><a class="dropdown-item" href="corporativos">Festa Corporativa</a></li>                                  
              </ul>
            </li>

            <li class="nav-item container">
              <a class="nav-link active" aria-current="page" href="blog">Blog</a>
            </li>
            <li class="nav-item container">
              <a class="nav-link active" aria-current="page" href="contato">Orçamento</a>
            </li>
            <li class="nav-item container">
              <a class="nav-link active" aria-current="page" href="login">Acesso Restrito</a>
            </li>
            
          </ul>
        </div>
    </nav>
<br>
<br>
<br>
<br>
  <!--fim navbar-->