<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<!--inicio Card Casamento / Bodas-->
<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/fotos/casamentonatháliaerafael3.jpeg.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Casamento</h5>
          <p class="card-text">Casamento é uma das decisões mais importantes na vida de uma pessoa. Um passo decisivo na vida do casal.
            A festa de casamento tem uma importância muito grande para os noivos e familiares. 
            É neste momento que todos dividem a alegria da união e o desejo de que a nova família que surge será feliz para sempre. Este momento, envolve muitos sentimentos e o desejo de que tudo tem que dar certo.
            <br><br>
            Somos especialistas em transformar sonhos em realidade. Produzindo casamentos com todo cuidado e de forma exclusiva, os casamentos organizados pelo Buffet Kaspper's são sempre impecáveis.
            <br>
            Buffet Kaspper's cuida de cada detalhe com toda atenção e carinho. O casamento tem que ser um momento único e inesquecível.
          
          </p>
        </div>
      </div>
    </div>
  </div>
<!--IMAGEM Bodas-->
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/fotos/bodas.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bodas de Casamento</h5>
          <p class="card-text">Não existe motivo para não celebrar o amor, que deve ser cultivado todos os dias do ano, mas se vocês querem compartilhar com o mundo sua alegria, a melhor forma de fazer isso no aniversário da suas bodas de casamento é a renovação de votos, uma nova festa de casamento ou algo mais intimista que reafirma o comprometimento e amor que um sente pelo outro, além do esforço de manter o casamento firme.
            <br><br>

            <br>

          </p>
        </div>
      </div>
    </div>
  </div>

<!--fim card-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>