/* No seu arquivo CSS ou estilo Angular */
.btn-submit {
  transition: background-color 0.3s ease; /* Adiciona uma transição suave para a cor de fundo */
}

.btn-submit:hover {
  background-color: #79b38b; /* Cor de fundo quando o botão é hover */
}

.btn-submit:active {
  background-color: #0056b3; /* Cor de fundo quando o botão é clicado */
}
