<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

  <div class="col-12 m-auto text-center fw-semibold">
    <h2 class="col-10 m-auto fst-italic">

     Quem Somos <br></h2>
      Fundado em 2018 por um grupo de amigos no interior de São Paulo. O Buffet Kaspper's vem se tornando uma marca que se consolida cada dia mais, sendo responsável pela realização de serviços de Buffet em nossa região. <br>
      Com forte presença no mercado pela qualidade dos produtos e serviços que oferece. Trabalhamos na região da cidade Caçapava - SP levando nossa gastronomia e estrutura até os locais solicitados por nossos clientes. <br>
      Nosso trabalho conquistou famílias e empresas, não só pela excelência, mas pelo envolvimento que temos com cada festa que realizamos.
      <br><br>
      <h4>Missão<br></h4>

      Nossa missão é prestar serviços de buffet em Caçapava, trabalhando com profissionais atualizados e material de primeira linha. Visando satisfação e fidelização dos clientes, e colaborando com ideias criativas que trarão total tranquilidade e segurança ao confiar seu Evento ao Buffet Kaspper's.

      <br><br>
       <h4>Visão</h4> <br>
       Queremos ser a melhor opção de Buffet da cidade de Caçapava e alcançar as cidades ao redor.<br>
       Transparência e honestidade são bases para construir bons relacionamentos com nossos clientes e fornecedores.<br>
       Prevalecendo a qualidade dos produtos oferecidos, visamos o reconhecimento no mercado.
        <br><br>
       Valores<br>
        Dedicação<br>
        Foco<br>
        Garantia<br>
        Respeito<br>
        Responsabilidade<br>
        <br>

  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
