<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<!--inicio Card Blog-->

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="./assets/fotos/casamentonatháliaerafael3.jpeg.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Como planejar um casamento mês a mês</h5>
          <p class="card-text"> O que Fazer 1 ano a 6 meses antes do casamento. Veja nossas dicas</p>
       </div>
       <div class="card-body">
        <a href="https://www.noivasonline.com/planejamento-mm.htm" class="card-link">Veja o planejamento</a>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/fotos/blogplanilha.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Planilhas de Casamento para download</h5>
          <p class="card-text"> Faça download gratuitamente das nossas planilhas. Basta inserir valores de cada item nos campos indicados e o tatal será calculado automaticamente</p>
        </div>
       <div class="card-body">
        <a href="https://www.noivasonline.com/planilhas.htm" class="card-link">Veja as planilhas disponíveis</a>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/fotos/blog15anos.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Festa de Debutante - 15anos</h5>
          <p class="card-text"> Olha essa dica de tema: Alice no País das Maravilhas</p>
        </div>
       <div class="card-body">
        <a href="https://buffetmediterraneo.com.br/blog/pais-das-maravilhas/" class="card-link">Veja mais</a>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/fotos/bloginfantil.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Festa Infantil</h5>
          <p class="card-text"> Decoração tema Toy Story: Um filme de animação, comédia e aventura americano lançado em 1995 que anima a garotada até os dias de hoje é uma ótima opção para fazer da festa do seu pequeno uma história de cinema.</p>
        </div>
       <div class="card-body">
        <a href="https://buffetmediterraneo.com.br/blog/toy-story/" class="card-link">Veja mais</a>
      </div>
      </div>
    </div>
  
  
  
    <div class="col">
      <div class="card">
        <img src="./assets/fotos/blog360.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Curiosidades</h5>
          <p class="card-text">Plataforma 360º que faz fotos e vídeosé a nova febre em festas e eventos As plataformas giratórias 360º com câmeras que registram vídeos se tornaram virais nas redes sociais, encantando pessoas de todas as idades.</p>
        </div>
        <div class="card-body">
          <a href="https://www.djeventosp.com.br/plataforma-360-que-faz-fotos-e-videos-e-a-nova-febre-nas-festas-e-eventos/" class="card-link">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/fotos/bodas.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bodas de Casamento</h5>
          <p class="card-text">Bodas de Papel, Bodas de Prata, Bodas de Ouro… Nós adoramos comemorar o aniversário do grande dia, não é mesmo? Pensando nisso, hoje nós vamos apresentar uma lista de bodas de casamento completa, incluindo desde os primeiros meses até os 100 anos.</p>
        </div>
        <div class="card-body">
          <a href="http://rleventosespeciais.com.br/estilos-de-casamento/a-lista-completa-com-todas-as-bodas-de-casamento-ate-os-100-anos/" class="card-link">Veja lista completa</a>
        </div>
      </div>
    </div>
  </div>
      <!--fim blog-->
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>