<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    

 
    <!--Main Content-->
    <div class="my-5">
      <div class="mx-auto w-25 " style="max-width:100%;">
        <h2 class="text-center mb-3">Add User</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">

          <!--name-->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="name" class="form-label">Name</label>
              <input id="name"  formControlName="name" type="text" name="name" class="form-control" placeholder="Name" required>
            </div>
          </div>

          <!--Email-->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input id="email" type="email"  formControlName="email" name="email" class="form-control" placeholder="email" required>
            </div>
          </div>
          
          <!--PNo-->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="pNo" class="form-label">Phone Number</label>
              <input id="pNo" type="text" name="pNo"  formControlName="pNo" class="form-control" placeholder="Phone Number" required>
            </div>
          </div>
         
          <!--PNo-->
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="Address" class="form-label">Address</label>
              <textarea id="Address" type="text" name="address"  formControlName="address" class="form-control" placeholder="New Delhi, India" rows="3" required></textarea>
            </div>
          </div>

          <!---->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form7Example1">Data do Evento</label>
                <input type="date" id="dataEvento" name="dataEventos" class="form-control" placeholder="DD/MM/AAAA" required/>       
              </div>
            </div>
          <br>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form7Example2">Quantidade de Convidados</label>
                <input id="qtdConvidados" type="number" name="qtdConvidados"  formControlName="qtdConvidados" class="form-control" placeholder="Digite aqui" required>
              </div>
            </div>
          </div>
          <br>
            <div class="col">
                <div class="mb-3">
                <label for="tipoEvento" class="form-label">Tipo de Evento</label>
                 <input id="tipoEvento" formControlName="tipoEvento" type="text" name="tipoEvento" class="form-control" placeholder="Casamento / Aniversário / Formatura / Outro" required>
                 </div>
            </div>
          <br>
          <!---->
         
          <div class="row">
            <div class="col-md-12 form-group">
              <input [disabled]="form.valid" class="btn btn-primary w-100" type="submit" value="Submit">
            </div>
          </div>
          
        </form>
      </div>
    </div>
  
</body>
</html>
