<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>


<br>
<div class="col-12 m-auto text-center fw-semibold">
<h2 class="col-10 m-auto fst-italic">Com uma equipe altamente especializada, levaremos até o local que você escolher,
    pode ser na sua casa ou salão de festas que desejar. <br>
    </h2>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card-text">
          <div class="card-body">
            <h4 class="card-title fw-bold">O que oferecemos:</h4>
            <p class="card-text text-center fst-italic">
              ● Buffet completo;<br>
              ● Bolo cenográfico;<br>
              ● Suco, água e refrigerantes;<br>
              ● Bolo e doces;<br>
              ● Decoração;<br>
              ● Flores decorando todo o salão;<br>
              ● Mobília de alto padrão;<br>
              ● Música, com DJ;<br>
              ● Iluminação para balada;<br>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-text">
          <div class="card-body">
            <h4 class="card-title fw-bold">Adicionais:</h4>
            <p class="card-text text-center fst-italic">
              ● Recepção e Segurança;<br>
              ● Foto e Filmagem;<br>
              ● Buffet: Lanche da madrugada, Cascata de chocolate, Welcome drink (Coquetel);<br>
              ● Bebidas: Cerveja ou Bar/drinks;<br>
              ● Totem;<br>
              ● Espelho mágico;<br>
              ● para Balada: Pista led, Robô;<br>
              ● Gerador;<br>
          </div>
        </div>
      </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
